body {
    font-size: 2rem;
}

.parent {
    background-color: dodgerblue;
    padding: 10px;
}

.child-one {
    background-color: lawngreen;
    padding: 10px;
}

.child-two {
    background-color: rgb(189, 81, 81);
    padding: 10px;
}

.child-three {
    background-color: hotpink;
    padding: 10px;
}

/* positioning edits below */

.parent {
    position: relative;
    height: 200vh;
}

.child-one {
    position: sticky;
    top: 0px;
}

.child-two {
    --width: 100px;
    position: absolute;
    top: 60px;
    left: calc(50% - (var(--width)/2));
    height: 100px;
    width: var(--width);
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items:center;
    text-transform: uppercase;
}

.child-three {

}